@import "node_modules/materialize-css/sass/components/color-variables";
@import "node_modules/materialize-css/sass/components/color-classes";

@import 'node_modules/materialize-css/sass/components/_variables.scss';

$primary-color: rgba(255,255,255,1) !default;
$secondary-color: rgba(255,255,255,1) !default;


@import 'node_modules/materialize-css/sass/materialize.scss';

$bg-color-lighten-4: #cfd8dc;
$bg-color-lighten-2: #90a4ae;
$bg-color-dark: #546e7a;
.asdasd{
    height: 420px;
    width: 900px;
    border: solid;
    float: right;
    background-color: $bg-color-lighten-4;
     border-radius: 15px;
    
    
   
}

.layout-external {
    height: 100vh;
    .content-le {
        width: 100%;
    }
}
#menu1{
    border-radius: 15px;
}
#menu{
    
    
    i{
        
        color: black;
    }
}
.user_login_img{
    margin: auto;
}
#text_color_input{
    color: black;
}
#icon_prefix{
   
    
}
#card_login{
    border-radius: 25px;
  
}

#cerveza_img{
    height: 100px;
        width: 100px;
        border: solid;
        border-radius: 15px;
        color: white;
        background-color: #cfd8dc;
}

#cerveza_icono{
    height: 110px;
        width: 110px;
       border: solid;
       
       
       
}
#menu_client{
    float: left;
}
.card-action{
    border-radius: 15px;
    
}
.carousel{
    height: 100px;
}
    

    

    

   

//.check_admin_user{
 //   float: right;
//}

/* 
    General Styles
*/







































.img_navbar{ 
    height: 150px;
    width: 150px;
}